<div class="projects">
  <div class="column">
    <h2>current.</h2>
    {{#this}}
    <div class="project" data-id="{{id}}">
      <h3>{{name}}</h3>
      <div class="intro">{{summary}}</div>
      <div class="status">status...</div>
    </div>
    {{/this}}
  </div>
</div>
